{% extends 'base.html' %}
{% block content %}
    <div class="block-content container">
        <h1>Heyy!! this index page</h1>
        <div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <h4 class="text-white">Collapsed content</h4>
      <span class="text-muted">Toggleable via the navbar brand.</span>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div>
        <div class="row">
            <div class="col-md-6">div first 6</div>
            <div class="col-md-6">div first 6</div>
        </div>
        <input type="button" class="btn btn-danger" value="Test">
    </div>
<!-- /.row -->
{% endblock %}
